<h2>My results</h2>
<div class="col-sm-3 closed-evaluations">
    <ul class="nav nav-pills nav-stacked">
    
    	<li class="nav-header"><a>Closed evaluations</a></li>
    	<li ng-repeat="c in closedEvaluations" ng-click="setCurrentEval(c)"><a>{{c.TemplateTitle}}</a>
    	</li>
    
	</ul>
</div>

<div class="col-sm-6 chart">
	<h3>{{currentEvaluation.TemplateTitle}}</h3>
	<div ng-show="showResults && currentCourse != undefined">
		Results for {{currentCourse.CourseName}}
		<button class="btn" ng-click="setShowCourseQuestions(true)">Course questions</button>
		<button class="btn" ng-click="setShowCourseQuestions(false)">Teacher questions</button>
		<ul class="course-results" ng-show="showCourseQuestions">
			<li ng-repeat="q in currentCourse.Questions" ng-if="q.TeacherSSN == null">
				<div ng-if="q.Type == 'text'">
					<h4>{{q.Text}}</h4>
					<div class="collapse" ng-attr-id="{{ q.QuestionID + 'viewdetails' }}">
						<ul class="text-answers">
							<li ng-repeat="t in q.TextResults track by $index">{{t}}</li>
						</ul>
					</div>
					<button class="btn btn-info" data-toggle="collapse" data-target=" {{'#' + q.QuestionID + 'viewdetails' }}">View details &raquo;</button>
				</div>
				<div ng-if="q.Type != 'text'">
					<h4>{{q.Text}}</h4>
					<div google-chart chart="charts[currentCourse.CourseID][q.TeacherSSN][q.QuestionID]" style="{{chart.cssStyle}}"/>
				</div>
			</li>
		</ul>
		<ul class="teacher-results" ng-hide="showCourseQuestions">
			<li ng-repeat="q in currentCourse.Questions" ng-if="q.TeacherSSN != null">
				<div ng-if="q.Type == 'text'">
					<h4>{{q.Text}} (Teacher: {{SSNToTeacher[q.TeacherSSN]}})</h4>
					<div class="collapse" ng-attr-id="{{ q.QuestionID + q.TeacherSSN +  'viewdetails' }}">
						<ul class="text-answers">
							<li ng-repeat="t in q.TextResults track by $index">{{t}}</li>
						</ul>
					</div>
					<button class="btn btn-info" data-toggle="collapse" data-target=" {{'#' + q.QuestionID + q.TeacherSSN + 'viewdetails' }}">View details &raquo;</button>
				</div>
				<div ng-if="q.Type != 'text'">
					<h4>{{q.Text}} (Teacher: {{SSNToTeacher[q.TeacherSSN]}})</h4>
					<div google-chart chart="charts[currentCourse.CourseID][q.TeacherSSN][q.QuestionID]" style="{{chart.cssStyle}}"/>
				</div>
			</li>
		</ul>
	</div>
	<div ng-show="!showResults && currentEvaluation != undefined">
		No results available
	</div>
</div>

<div class="col-sm-2 courses">
<button class="btn" ng-repeat="c in currentEvaluation.Courses" ng-click="setCurrentCourse(c)">{{c.CourseID}} - {{c.CourseName}}</button>
</div>