<h2>Admin - Home</h2>

<div class="container-fluid">
	<toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
	<div class="row">
		<div class="container col-sm-1" id="menu">
			<div class="btn-group" access="Admin" access-permission-type="AtLeastOne">
				<button class="btn btn-primary" data-toggle="modal" data-target="#newTemplateModal">New</button>
			</div>

			<div class="btn-group" id="all-evals" access="Admin" access-permission-type="AtLeastOne">
			  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-click="getAllTemplates()">
			    All <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu">
			    <li ng-repeat="t in templates" ng-click="getTemplate(t)">{{t.Title}}</a></li>
			  </ul>
			</div>

			<div id="my-evals" access="Admin" access-permission-type="AtLeastOne">
				<a href="/#/admin/myresults"><button type="button" class="btn btn-warning">Results</button></a>
			</div>
		</div>
		<div class="col-sm-11" ng-show="canEdit">
			<div class="alert alert-success ng-scope">
		    <strong>You are editing {{template.Title}}</strong>
		    After you have created a question, drag it to the desired position.
		    To assign a template you must first save it, then choose it from the list of available templates.
			</div>
			<div class="container col-sm-11" id="evaluation-template">
				<button class="btn" ng-click="setShowTeacherQuestions(false)">Course questions</button>
				<button class="btn" ng-click="setShowTeacherQuestions(true)">Teacher questions</button>
				<div class="intro">
					{{template.IntroText}}
				</div>
				<ul class="course-questions" dnd-list="template.CourseQuestions" ng-hide="showTeacherQuestions">
					<li class="question" ng-repeat="cq in template.CourseQuestions" dnd-draggable="cq" dnd-moved="template.CourseQuestions.splice($index, 1)" dnd-effect-allowed="move">
						<div class="course-question col-sm-10">
							<button class="glyphicon glyphicon-remove close-btn" ng-click="removeQuestion(cq, true)"></button>
							<h4>{{cq.Text}}</h4>
							<div ng-if="cq.Type == 'single'" class="single-answers">
								<form>
									<div ng-repeat="a in cq.Answers track by $index">
										<input type="radio" value="{{a.Weight}}" />{{a.Text}}
									</div>
								</form>
							</div>
							<div ng-if="cq.Type == 'multiple'" class="multiple-answers">
								<form>
									<div ng-repeat="a in cq.Answers track by $index">
										<input type="checkbox" value="{{a.Weight}}" />{{a.Text}}
									</div>
								</form>
							</div>
							<div ng-if="cq.Type == 'text'" class="text-answer">
								<form role="form">
								    <div class="form-group">
								      <textarea class="form-control"></textarea>
								    </div>
								  </form>
							</div>
						</div>
					</li>
				</ul>
				<ul class="teacher-questions" dnd-list="template.TeacherQuestions" ng-show="showTeacherQuestions">
					<li class="question" ng-repeat="tq in template.TeacherQuestions" dnd-draggable="tq" dnd-moved="template.TeacherQuestions.splice($index, 1)" dnd-effect-allowed="move">
						<div class="teacher-question col-sm-10">
							<button class="glyphicon glyphicon-remove close-btn" ng-click="removeQuestion(tq, false)"></button>
							<h4>{{tq.Text}}</h4>
							<div ng-if="tq.Type == 'single'" class="single-answers">
								<form>
									<div ng-repeat="a in tq.Answers track by $index">
										<input type="radio" value="{{a.Weight}}" />{{a.Text}}
									</div>
								</form>
							</div>
							<div ng-if="tq.Type == 'multiple'" class="multiple-answers">
								<form>
									<div ng-repeat="a in tq.Answers track by $index">
										<input type="checkbox" value="{{a.Weight}}" />{{a.Text}}
									</div>
								</form>
							</div>
							<div ng-if="tq.Type == 'text'" class="text-answer">
								<form role="form">
								    <div class="form-group">
								      <textarea class="form-control"></textarea>
								    </div>
								  </form>
							</div>
						</div>
					</li>
				</ul>
				<div class="col-sm-10"></div>
			</div>
			<div class="btn-group container col-sm-11">

				<button type="button" class="btn btn-primary add-question" id="add" access="Admin" access-permission-type="AtLeastOne" data-toggle="modal" data-target="#addQuestionModal">Add question</button>
			</div>
			<div class="btn-group container col-sm-11">
				<div class="col-sm-10">
					<button type="button" class="btn btn-success" id="save" access="Admin" access-permission-type="AtLeastOne" ng-click="save()" ng-hide="canAssign">Save</button>
					<button type="button" class="btn btn-success" id="save-assign" access="Admin" access-permission-type="AtLeastOne" ng-show="canAssign" data-toggle="modal" data-target="#assignModal">Assign</button>
					<button type="button" class="btn btn-danger" id="rename" access="Admin" access-permission-type="AtLeastOne" data-toggle="modal" data-target="#renameModal">Rename</button>
				</div>
				<div class="col-sm-1">
					<button type="button" class="btn btn-danger" id="discard" access="Admin" access-permission-type="AtLeastOne" ng-click="discard()">Discard</button>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Question</h4>
      </div>
      <div class="modal-body">
        <div class="select-type">
        	<div class="dropdown">
        		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" placeholder="Question Type">
				    <span ng-show="newQuestion.Type != ''">{{newQuestion.Type}} question</span>
				    <span class="caret"></span>
				 </button>
				 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    <li role="question-type" ng-click="setQuestionType('text')">Text question</li>
				    <li role="question-type" ng-click="setQuestionType('single')">Single Choice question</li>
				    <li role="question-type" ng-click="setQuestionType('multiple')">Multiple Choice question</li>
				  </ul>
				</div>
        	</div>
        	<div class="dropdown">
        		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        			Question about <span ng-if="isCourseQuestion">Course</span><span ng-if="!isCourseQuestion">Teachers</span>
				    <span class="caret"></span>
				 </button>
				 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				    <li role="question-for" ng-click="setCourseQuestion(true)">Course</li>
				    <li role="question-for" ng-click="setCourseQuestion(false)">Teachers</li>
				  </ul>
				</div>
        	</div>
        	<form ng-submit="addQuestion()">
		        <input type="text" class="form-control" placeholder="Text" ng-model="newQuestion.Text" ng-required="true"/>
		        <input type="text" class="form-control" placeholder="Image (URL)" ng-model="newQuestion.ImageURL"/>
		        <div class="single-or-multiple" ng-if="newQuestion.Type == 'single' || newQuestion.Type == 'multiple'">
		        	<input type="text" class="form-control" placeholder="Option 1" ng-model="answers.first"/>
		        	<input type="text" class="form-control" placeholder="Option 2" ng-model="answers.second"/>
		        	<input type="text" class="form-control" placeholder="Option 3" ng-model="answers.third"/>
		        	<input type="text" class="form-control" placeholder="Option 4" ng-model="answers.fourth"/>
		        	<input type="text" class="form-control" placeholder="Option 5" ng-model="answers.fifth"/>
		        </div>
		        <span class="input-group-btn">
			    	<input type="submit" class="btn btn-primary" value="Create">
			    </span>
			</form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newTemplateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New Template</h4>
      </div>
      <div class="modal-body">
      	<form ng-submit="createNewTemplate()">
	        <input type="text" class="form-control" placeholder="Title" ng-model="newTitle" ng-required="true"/>
	        <input type="text" class="form-control" placeholder="Introduction" ng-model="newIntro" ng-required="true"/>
	        <span class="input-group-btn">
		    	<input type="submit" class="btn btn-primary" value="Create">
		    </span>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Assign evaluation</h4>
      </div>
      <div class="modal-body">
      	<form ng-submit="assign()">
	        <div class="input-group">
      
          <input type="text" 
            class="form-control date" 
            id="dateFrom" 
            placeholder="From" 
            ng-click="date.dateFrom=true"
            datepicker-popup="{{date.format}}" 
            ng-model="date.dtFrom" 
            is-open="date.dateFrom" 
            min-date="minDate" 
            max-date="'2030-06-22'" 
            datepicker-options="date.dateOptions" 
            date-disabled="disabled(date, mode)" 
            ng-required="true" 
            close-text="Close" >
          
          
          <input type="text" 
            class="form-control date" 
            id="dateTo"   
            placeholder="To" 
            ng-click="date.dateTo=true" 
            datepicker-popup="{{date.format}}" 
            ng-model="date.dtTo" 
            is-open="date.dateTo" 
            min-date="minDate" 
            max-date="'2030-06-22'" 
            datepicker-options="date.dateOptions" 
            date-disabled="disabled(date, mode)" 
            ng-required="true" 
            close-text="Close" >
            
      </div>
	        <span class="input-group-btn">
		    	<input type="submit" class="btn btn-primary" value="Assign">
		    </span>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Rename</h4>
      </div>
      <div class="modal-body">
      	<form>
	        <input type="text" class="form-control" placeholder="{{template.Title}}" ng-model="template.Title"/>
	        <span class="input-group-btn">
		    	<input type="submit" class="btn btn-primary" value="Rename" data-dismiss="modal">
		    </span>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>