
<div ng-show="question.Type === 'text'">
	<div >{{question.Text}} </div>
	<textarea ng-model="question.Answer"> </textarea>
</div>

<div ng-show="question.Type === 'single'">
	<div >{{question.Text}} </div>
	<div ng-repeat="q in question.Answers">
 	<input type="radio" ng-model="question.Answer" name="{{question.index}}" value="{{q.ID}}">  {{q.Text}}
	</div>
</div>

<div ng-show="question.Type === 'multiple'">
{{question.Text}} 	
	<div ng-repeat="q in question.Answers">
 	<input type="checkbox" ng-model="q.ansArr" > {{q.Text}}
	</div> 
</div>