<h1>Evaluations</h1>

<div class="well">
	<div ng-repeat="eval in evaluations">
		<li><a href="#/questions/{{eval.CourseID}}/{{eval.Semester}}/{{eval.ID}}">{{eval.CourseID}} -- {{eval.CourseNameEN}}</a></li>
 	</div>
</div>

