<form ng-submit="login()" name="myForm">
	<div>
  Username: <input type="text"  ng-model="username" name="username" required></input>
  <span style="color:red" ng-show="myForm.username.$dirty && myForm.username.$invalid">
  <span ng-show="myForm.username.$error.required">Username is required.</span>
  </span>
</div>
<div>
  Password: <input type="password"  ng-model="password" name="password "required></input>
  <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
  <span ng-show="myForm.password.$error.required">Password is required.</span>
  </span>
</div>
  <input type="submit" value="Login" ng-disabled="myForm.username.$dirty && myForm.username.$invalid ||  
myForm.password.$dirty && myForm.password.$invalid">
</form>