
<h1>Evaluation</h1>
<h2> {{title }}</h2>

<div ng-repeat="question in questions.CourseQuestions">
	<evaluation-question ng-model="question">
		
	</evaluation-question>
</div>
 	
<h1>---------- Teacher questions -------------</h1>

<div ng-repeat="teacher in teacherAns">
	{{teacher.name}} 
	<div ng-repeat="teacherQuestion in teacher.questions">
		<evaluation-question ng-model="teacherQuestion" teacher="{{teacher.name}}">
		</evaluation-question>
	</div>
</div>

<button ng-click="submitEval()"> Submit </button>