.btn-group {
	padding-top: 7px;
}

#evaluation-template {
	border: solid 1px;
	border-radius: 3%;
}

#menu {
	padding-top: 70px;
}

#template-title {
	color: gray;
}

.text-answer {
	width: 60%;
}

.teacher-question {
    height: 150px;
	border: dotted 1px;
}

.course-question {
    height: 150px;
	border: dotted 1px;
	margin-top: 5px;
}

ul[dnd-list], ul[dnd-list] > li { 
    position: relative;
}

ul {
	list-style-type: none;
}

ul[dnd-list] .dndDraggingSource {
    display: none;
}

ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

ul[dnd-list] li {
    display: block;
    height: 150px;
    margin-bottom: 10px;
}

ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#my-evals {
    padding-top: 35px;
}

.nav > li.nav-header > a {
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}